/*!
 * SPDX-FileCopyrightText: 2025 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-only
 */

@mixin background {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right 100% bottom 40%;
}

@mixin gradient-background {
	background-color: var(--color-main-background);
}
